@import "../../variables.scss";

.scoreDiv {
  background: $dark-gray;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 36px;

  p {
    color: $dark-gray-blue;
    font-weight: 500;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    flex: 0 0 36px;
    margin-right: 24px;
    width: 36px;
    height: 90px;
  }
}

.score__plus,
.score__minus {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    svg {
      path {
        fill: $dark-gray-blue;
      }
    }
  }
}
