@import "../../variables.scss";

.userrow {
  @include row("flex-start");
  font-size: 14px;

  &__avatar {
    @include avatar();
  }
  &__name {
    margin-right: 12px;
  }
  &__badge {
    padding: 2px 6px;
    background: $dark-purple;
    color: white;
    font-weight: 700;
    margin-right: 12px;
  }
  &__time {
    color: $dark-gray-blue;
  }
}
