@import "../../variables.scss";

.commentCard {
  &__card {
    @include card-style;
    flex-direction: column;
    @include md-up {
      flex-direction: row;
    }
  }
  &__main {
    flex: 1;
  }
  &__row {
    @include row;
  }
  &__content {
    margin-top: 12px;
    padding-left: 8px;
    margin-left: -8px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    &.isEditing {
      border: 1px solid $dark-gray-blue;
      border-radius: 4px;
    }
  }
  &__confirmEditButton {
    @include button;
    margin-top: 8px;
    display: block;
    margin-left: auto;
  }

  &__replyToSpan {
    color: $dark-purple;
  }
  &__row__sm {
    @include row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
}

.hideInMD {
  @include show;

  @include md-up {
    @include hide;
  }
}

.hideInSM {
  @include hide;
  @include md-up {
    @include show;
  }
}
