@import "../../variables.scss";

.commentCard {
  &__card {
    @include card-style;
  }
  &__main {
    flex: 1;
  }
  &__row {
    @include row;
  }
  &__content {
    margin-top: 12px;
    padding-left: 8px;
    margin-left: -8px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    &.isEditing {
      border: 1px solid $dark-gray-blue;
      border-radius: 4px;
    }
  }
  &__confirmEditButton {
    @include button;
    margin-top: 8px;
    display: block;
    margin-left: auto;
  }

  &__replyToSpan {
    color: $dark-purple;
  }
}
