@import "../../variables.scss";

.commentCard {
  &__card {
    @include card-style;
  }
  &__main {
    flex: 1;
  }
  &__row {
    @include row;
  }
  &__content {
    padding-top: 12px;
    padding-right: 30px;
  }
}
